@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@theme {
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-on-second-background: var(--background-dark-light);
  --color-primary: var(--primary);
  --color-primary-container: var(--primary-container);
  --color-secondary: var(--secondary);
  --color-secondary-container: var(--secondary-container);
  --color-surface: var(--surface);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-on-surface: var(--on-surface);
  --color-outline: var(--outline);
  --color-bars-color: var(--nav-color);

  --font-headline: "Space Grotesk";
  --font-body: "Inter";
}

:root {
  --background: #f8f9ff;
  --on-background: #131318;
  --background-dark-light: #1f1e25;
  --primary: #7c3aed;
  --primary-container: #ede9fe;
  --secondary: #06b6d4;
  --nav-color: #fdfdff;
  --secondary-container: #03b5d3;
  --surface: #ffffff;
  --surface-container: #ffffff;
  --surface-container-high: #f1f1f3;
  --on-surface: #131318;
  --outline: #89898e;
}
